<div class="flex items-center justify-center">
   <div class="container-option">
     <app-header-option></app-header-option>
 
     <div class="flex justify-between items-center flex-wrap">
       <div>
         <h2 class="text-3xl font-bold">Técnicos</h2>
       </div>
 
       <div class="flex justify-center items-center gap-3">
         <app-search (eventOnchane)="search($event)" />
 
         <button
          (click)="openModalNewTechnician()"
           class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-xl text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
         >
           Nuevo técnicos
         </button>
       </div>
     </div>
 
     <section
       class="flex justify-center sm:justify-center md:justify-stretch items-center flex-wrap gap-2 pt-4"
     >
       @for (item of filteredCustomers(); track $index) {
       <div
         class="shadow-md overflow-hidden rounded-md p-2 card-item"
       >
         <div class="flex gap-2 items-center">
           <div>
             <div
               [style]="getColorAvatar(item.fullname)"
               class="inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full"
             >
               <span class="font-medium text-gray-600 dark:text-gray-300">{{
                 getStringAvatar(item.fullname)
               }}</span>
             </div>
           </div>
 
           <div class="flex-1">
             <p class="font-bold" title="{{ item.fullname }}">
               {{ item.fullname }}
             </p>
             <div class="flex items-center justify-stretch gap-1">
                <img class="w-4" src="../../../../../assets/id_card.svg" alt="Id" />
                <p class="text-sm font-semibold">{{ item.documento }}</p>
             </div>
         
             <div class="flex items-center justify-stretch gap-1">
               <img class="w-4" src="../../../../../assets/phone.svg" alt="Tel" />
               <p class="text-sm font-semibold">
                {{ item.telefono }}
              </p>
             </div>
           </div>

           <div class="flex items-center justify-center gap-1 mr-1">

            <div (click)="edit(item.id)" class="rounded-full hover:bg-slate-300 bg-slate-200 p-2">
              <img src="../../../../../assets/edit.svg" alt="E">
            </div>

            <div (click)="setDeleteRecocord(item)" class="rounded-full hover:bg-slate-300 bg-slate-200 p-2">
              <img src="../../../../../assets/delete.svg" alt="D">
            </div>

          </div>

         </div>
       </div>
       }
     </section>
   </div>


   @if (isOpenModalDelete) {
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" >
   
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div>
              
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h2 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">
                   Eliminar
                </h2>
                <div class="mt-2">
                   Desea eliminar el regristro
                  <p class="font-bold">{{description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
             <button (click)="deleteRecord()" class="inline-flex w-full justify-center rounded-md bg-slate-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-slate-800 sm:ml-3 sm:w-auto">Aceptar</button>
             <button  (click)="isOpenModalDelete = false" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    </div>
   }



   @if (isOpen) {
      <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" >
     
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <div>
                
                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                  <h2 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">
                     Datos del técnico
                  </h2>
                  <div class="mt-2">
                     <form class="flex items-center justify-center flex-col gap-4" [formGroup]="form">
                        <div class="w-full">
                           <input
                             class="block w-full p-4 ps-4 text-sm text-black border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500  dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                             placeholder="Nombre"
                             formControlName="nameField"
                             required
                           />
                           <div *ngIf="form.get('nameField')?.touched && form.get('nameField')?.errors">
                            <small *ngIf="form.get('nameField')?.hasError('required')">El nombre es requerido.</small>
                            <small *ngIf="form.get('nameField')?.hasError('minlength')">El nombre debe tener al menos 3 caracteres.</small>
                          </div>
                         </div>
                         <div class="w-full">
                           <input
                             class="block w-full p-4 ps-4 text-sm text-black border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500  dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                             placeholder="Nit"
                             formControlName="nitField"
                             required
                           />
                           <div *ngIf="form.get('nitField')?.touched && form.get('nitField')?.errors">
                            <small *ngIf="form.get('nitField')?.hasError('required')">El nit es requerido.</small>
                            <small *ngIf="form.get('nitField')?.hasError('pattern')">El nit debe ser numerico.</small>
                          </div>
                         </div>
                         <div class="w-full">
                           <input
                             class="block w-full p-4 ps-4 text-sm text-black border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500  dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                             placeholder="Dirección"
                             formControlName="addressField"
                             required
                           />
                           <div *ngIf="form.get('addressField')?.touched && form.get('addressField')?.errors">
                            <small *ngIf="form.get('addressField')?.hasError('required')">La direccióes requerida.</small>
                            <small *ngIf="form.get('addressField')?.hasError('maxlength')">La dirección debe menor 100 caracteres.</small>
                          </div>
                         </div>
                         <div class="w-full">
                           <input
                             class="block w-full p-4 ps-4 text-sm text-black border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                             placeholder="Correo"
                             formControlName="emailField"
                             required
                           />
                           <div *ngIf="form.get('emailField')?.touched && form.get('emailField')?.errors">
                            <small *ngIf="form.get('emailField')?.hasError('required')">El correo es requerido.</small>
                            <small *ngIf="form.get('emailField')?.hasError('email')">Escriba un correo válido.</small>
                          </div>
                         </div>
                         <div class="w-full">
                           <input
                             class="block w-full p-4 ps-4 text-sm text-black border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                             placeholder="Teléfono"
                             formControlName="phoneField"
                             required
                           />
                           <div *ngIf="form.get('phoneField')?.touched && form.get('phoneField')?.errors">
                            <small *ngIf="form.get('phoneField')?.hasError('required')">El Teléfono es requerido.</small>
                            <small *ngIf="form.get('phoneField')?.hasError('pattern')">Escriba un teléfono válido.</small>
                          </div>
                         </div>
                         
                        </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
               <button [disabled]="!form.valid" (click)="createOrUpdate()"
              
               class="inline-flex w-full justify-center rounded-md disabled:bg-slate-600 disabled:cursor-not-allowed bg-slate-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-slate-800 sm:ml-3 sm:w-auto">Guardar</button>
               <button (click)="handleModal()" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      </div>
     }

 </div>
 
