
<section class="home flex justify-center flex-col items-center gap-4 mt-4 mb-4">
  @for (item of getStateOrders(); track $index) {
  <div
    class="card p-6 h-auto flex flex-col justify-center items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-white"
  >
    <p class="paragraph">Nombre: {{ item.name }}</p>
    <p class="paragraph">Nit: {{ item.nit }}</p>
    <p class="paragraph">Dir: {{ item.address }}</p>
    <p class="paragraph">Correo: {{ item.email }}</p>
    
  </div>

  }
  <div></div>
</section>
