
<header [style]="headerStyle">
   <div class="container">
      <div class="flex justify-center items-center flex-grow">

         <div class="pr-12">
            <img width="100" class="rounded-2xl" src={{headerIconApp}} alt='...' />
         </div>

         <div>
            <p class="text-5xl text-white">
               SIRefrigeración
            </p>
         </div>
      </div>

      <div class="flex justify-end items-center">
         <!-- <p>¡Aporte experiencias sin límites, control de asistencia!</p> -->
      </div> 

   </div>
</header>