<div class="flex items-center justify-center">
  <div class="container-option">
    <app-header-option></app-header-option>

    <div class="flex justify-between items-center flex-wrap">
      <div>
        <h2 class="text-3xl font-bold">Servicios</h2>
      </div>

      <div class="flex justify-center items-center gap-3">
        <form class="max-w-sm mx-auto">
          <select
             [formControl]="selectStatus"
             (input)="setStatus($event)"
              id="countries"
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option >Seleccione:</option>
            <option value="Nuevo">Nuevo</option>
            <option selected value="Asignada">Asignada</option>
            <option value="Cerrado">Cerrado</option>
          </select>
        </form>

        <div class="flex items-center justify-center bg-gray-100">
          <input
            [formControl]="selectedDate"
            (input)="setDateFilter($event)"
            type="date"
            class="border border-gray-300 rounded-lg p-2 bg-white text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          />
        </div>
       
      </div>
    </div>

    <section
      class="flex justify-center sm:justify-center md:justify-stretch items-center flex-wrap gap-2 pt-4"
    >
      <div class="relative overflow-x-auto">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-white uppercase bg-blue-800 dark:bg-blue-800 dark:text-white"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Fecha de registro</th>
              <th scope="col" class="px-6 py-3">Cédula</th>
              <th scope="col" class="px-6 py-3">Nombre cliente</th>
              <th scope="col" class="px-6 py-3">Dirección</th>
              <th scope="col" class="px-6 py-3">teléfono</th>
              <th scope="col" class="px-6 py-3">Correo</th>
              <th scope="col" class="px-6 py-3">Falla</th>
              <th scope="col" class="px-6 py-3">técnico Asignado</th>
            </tr>
          </thead>
          <tbody>
            @if (filteredServices().length > 0) {
            @for (item of filteredServices(); track $index) {
            <tr >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black"
              >
                {{ item.fecha_orden | date}}
              </th>
              <td class="px-6 py-4 font-medium dark:text-black">
                {{ item.documento_cliente }}
              </td>
              <td class="px-6 py-4 font-medium dark:text-black">
                {{ item.cliente }}
              </td>
              <td class="px-6 py-4 font-medium dark:text-black">
                {{ item.direccion }}
              </td>
              <td class="px-6 py-4 font-medium dark:text-black">
                {{ item.phone}}
              </td>
              <td class="px-6 py-4 font-medium dark:text-black">
                {{ item.email}}
              </td>
              <td class="px-6 py-4 font-medium dark:text-black">
                {{ item.falla}}
              </td>
              <td class="px-6 py-4 font-medium dark:text-black">
                {{ item.tecnicoAsignado }}
              </td>
            </tr>
            } }@else {
              <tr >
                <td colspan="7">
                  No hay registro, 
              </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </section>
  </div>

 